In [1]:
import pandas as pd

In [4]:
CCTV_seoul = pd.read_csv("../data/01. CCTV_in_Seoul.csv",encoding = 'UTF-8')  #..은 "나와서"라는 의미

In [5]:
CCTV_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [6]:
CCTV_seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [7]:
CCTV_seoul.rename(columns={CCTV_seoul.columns[0]:'구별'}, inplace = True)

In [45]:
CCTV_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [46]:
pop_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', 
                          header = 2,
                          usecols = 'B,D,G,J,N',
                          encoding = 'utf-8')

ValueError: Usecols do not match names.

In [47]:
CCTV_seoul.sort_values(by = '소계', ascending = False).head() #오름차순 정렬

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [48]:
pop_Seoul.head()

,구별,구별,인구수,한국인,외국인,고령자,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231

In [49]:
pop_Seoul.columns

Index(['구별', '구별', '인구수', '한국인', '외국인', '고령자', '인구.3', '인구.4', '인구.5', '인구.6',
       '인구.7', '인구.8', '세대당인구', '65세이상고령자'],
      dtype='object')

In [50]:
pop_Seoul.rename(columns = {pop_Seoul.columns[1] : "구별",
                            pop_Seoul.columns[2] : "인구수",
                            pop_Seoul.columns[3] : "한국인",
                            pop_Seoul.columns[4] : "외국인",
                            pop_Seoul.columns[5] : "고령자",
                            }, inplace = True)

In [51]:
pop_Seoul.head()

,구별,구별,인구수,한국인,외국인,고령자,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231

In [52]:
pop_Seoul.drop([0],inplace = True)
pop_Seoul.head()

ValueError: labels [0] not contained in axis

In [53]:
pop_Seoul['구별'].unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [54]:
pop_Seoul['구별'].isnull()

       구별     구별
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False
7   False  False
8   False  False
9   False  False
10  False  False
11  False  False
12  False  False
13  False  False
14  False  False
15  False  False
16  False  False
17  False  False
18  False  False
19  False  False
20  False  False
21  False  False
22  False  False
23  False  False
24  False  False
25  False  False
27  False  False
28   True   True

In [55]:
pop_Seoul[pop_Seoul['구별'].isnull()]

ValueError: Boolean array expected for the condition, not float64

In [56]:
pop_Seoul.drop([26], inplace = True)
pop_Seoul

ValueError: labels [26] not contained in axis

In [57]:
pop_Seoul[pop_Seoul['구별'].isnull()]

ValueError: Boolean array expected for the condition, not float64

In [58]:
pop_Seoul['외국인비율'] = pop_Seoul['고령자']/pop_Seoul['인구수']*100

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [59]:
pop_Seoul.sort_values(by = '인구수').head()

TypeError: '>' not supported between instances of 'int' and 'str'

In [60]:
pop_Seoul.sort_values(by = '인구수',ascending = False).head()

TypeError: '>' not supported between instances of 'str' and 'int'

In [61]:
CCTV_seoul['최근증가율'] = (CCTV_seoul['2016년']+
                            CCTV_seoul['2015년']+
                            CCTV_seoul['2014년']
                            ) / CCTV_seoul['2013년도 이전']*100

In [62]:
CCTV_seoul['최근증가율']

0     150.619195
1     166.490765
2     125.203252
3     134.793814
4     149.290780
5      53.228621
6      64.973730
7     100.000000
8     188.929889
9     246.638655
10     74.766355
11    139.338235
12    212.101911
13     48.578199
14     63.371266
15     81.780822
16     63.627354
17    104.347826
18     34.671731
19    157.979798
20     53.216374
21     85.237258
22    248.922414
23    147.699758
24     79.960707
Name: 최근증가율, dtype: float64

In [63]:
CCTV_seoul

      구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0    강남구  2780       1292    430    584    932  150.619195
1    강동구   773        379     99    155    377  166.490765
2    강북구   748        369    120    138    204  125.203252
3    강서구   884        388    258    184     81  134.793814
4    관악구  1496        846    260    390    613  149.290780
5    광진구   707        573     78     53    174   53.228621
6    구로구  1561       1142    173    246    323   64.973730
7    금천구  1015        674     51    269    354  100.000000
8    노원구  1265        542     57    451    516  188.929889
9    도봉구   485        238    159     42    386  246.638655
10  동대문구  1294       1070     23    198    579   74.766355
11   동작구  1091        544    341    103    314  139.338235
12   마포구   574        314    118    169    379  212.101911
13  서대문구   962        844     50     68    292   48.578199
14   서초구  1930       1406    157    336    398   63.371266
15   성동구  1062        730     91    241    265   81.780822
16   성북구  1464       1009     78    360    204   63.627354
17   송파구   618        529     21     68    463  104.347826
18   양천구  2034       1843    142     30    467   34.671731
19  영등포구   904        495    214    195    373  157.979798
20   용산구  1624       1368    218    112    398   53.216374
21   은평구  1873       1138    224    278    468   85.237258
22   종로구  1002        464    314    211    630  248.922414
23    중구   671        413    190     72    348  147.699758
24   중랑구   660        509    121    177    109   79.960707

In [70]:
data_result = pd.merge(CCTV_seoul, pop_Seoul, on = '구별')
data_result

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [69]:
del data_result['2013년도 이전']
del data_result['2014년']
del data_result['2015년']
del data_result['2016년']

NameError: name 'data_result' is not defined

In [71]:
data_result.set_index('구별',inplace = True)

NameError: name 'data_result' is not defined

In [73]:
import numpy as np

In [74]:
np.corrcoef(data_result['고령자비율'],data_result['소계'])

NameError: name 'data_result' is not defined

In [77]:
import matplotlib as plt #보고서에 작성 / 한글을 지원하지 않는다.
%matplotlib inline

In [78]:
import platform

In [82]:
plt.figure()
data_result['소계'].plot(kind = 'barh', grid = True,figsize=(10,10))

TypeError: 'module' object is not callable