In [1]:
import pandas as pd

In [3]:
cctv_seoul = pd.read_csv("../data/01. CCTV_in_Seoul.csv")

In [5]:
cctv_seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [6]:
cctv_seoul.columns[3]

'2014년'

In [7]:
cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구별"}, inplace=True)

In [9]:
cctv_seoul.columns[0]

'구별'

In [10]:
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [19]:
pop_seoul = pd.read_excel("../data/01. population_in_Seoul.xls", encoding = 'utf-8')

In [21]:
pop_seoul.columns

Index(['기간', '자치구', '세대', '인구', '인구.1', '인구.2', '인구.3', '인구.4', '인구.5', '인구.6',
       '인구.7', '인구.8', '세대당인구', '65세이상고령자'],
      dtype='object')